NEXT_PUBLIC_DOMAIN='localhost를 실행할 도메인'
NEXT_PUBLIC_API='API 주소 요청 주소'
NEXT_PUBLIC_REDIRECT_URL=로그인 이후, 리다이렉트할 URL
NEXT_PUBLIC_MIXPANEL_TOKEN=믹스패널에 사용하는 토큰
NEXT_PUBLIC_IMAGE_URL=OG IMAGE URL을 가져오는 주소.